body {
    background-color: #333;
    color: rgba(240, 240, 239, 0.674);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure the body takes full height */
}

p {
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
    transition: color 0.3s ease;
}

p:hover {
    color: #ff4d4d;
}

#personal-image {
    max-width: 150px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    transition: transform 0.3s ease;
}

#personal-image:hover {
    transform: scale(1.3);
}

.info-container {
    
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

.personal-info, .education-info {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.portfolio-item {
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.portfolio-item a {
    display: block;
    padding: 15px 30px;
    background-color: #968f8f;
    color: #000000a1;
    text-decoration: none;
    border-radius: 8px;
    margin: 0px;
    width: 200px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

.portfolio-item a:hover {
    background-color: #c0bbbb;
    transform: scale(1.1);
}

.link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}


.linkedin-link a, .gitlab-link a {
    display: inline-block;
    padding: 5px 5px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.linkedin-link a {
    background-color: #007BFF;
    color: #f1f1f1;
}

.linkedin-link a:hover {
    background-color: #0056b3;
}

.gitlab-link a {
    background-color: #fc6d26;
    color: #3b3939;
}

.gitlab-link a:hover {
    background-color: #d95c1f;
}
